
@{
    ViewBag.Active = "liNews";
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="container custom">
    <div class="page-header">
        <h1>Tin nổi bật</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-5">
                <img src="/Public/image/news1.jpg" alt="Alternate Text" width="400" />
            </div>
            <div class="col-lg-7">
                <div class="">
                    <h2>4 cách 'cậy cửa' ôtô trong trường hợp khẩn cấp</h2>
                </div>
                <p>Những cách này chỉ dùng khi không may chủ xe bị quên chìa khóa và không nhờ được thợ chuyên nghiệp.</p>
            </div>
        </div>
    </div>
    <div style="margin-top:20px">
        <div class="row">
            <div class="col-lg-5">
                <img src="/Public/image/oto-giuong-nam-lao-vao-nha-dan.jpg" alt="Alternate Text" width="400" />
            </div>
            <div class="col-lg-7">
                <div class="">
                    <h2>Ôtô giường nằm lao vào nhà dân, 2 người tử vong</h2>
                </div>
                <p>Va vào xe khách ngược chiều, ôtô giường nằm hãng Thành Bưởi (từ Đà Lạt về Sài Gòn) tông vào nhà dân khiến 2 người tử vong, gần chục người bị thương.</p>
            </div>
        </div>
    </div>
    <div style="margin-top:20px">
        <div class="row">
            <div class="col-lg-5">
                <img src="/Public/image/oto-giuong-nam-lao-vao-nha-dan.jpg" alt="Alternate Text" width="400" />
            </div>
            <div class="col-lg-7">
                <div class="">
                    <h2>Ôtô giường nằm lao vào nhà dân, 2 người tử vong</h2>
                </div>
                <p>Va vào xe khách ngược chiều, ôtô giường nằm hãng Thành Bưởi (từ Đà Lạt về Sài Gòn) tông vào nhà dân khiến 2 người tử vong, gần chục người bị thương.</p>
            </div>
        </div>
    </div>
    

    <div class="page-header">
        <h1>Tin mới nhất</h1>
    </div>
    <div>
        <div>
            <div class="row">
                <div class="col-lg-5">
                    <img src="/Public/image/trung-quoc-kho-thanh-cong-voi-chien-luoc-dung-tien-mua-yeu-men.jpg" alt="Alternate Text" width="400" />
                </div>
                <div class="col-lg-7">
                    <div class="">
                        <h2>Trung Quốc khó thành công với chiến lược 'dùng tiền mua yêu mến'</h2>
                    </div>
                    <p>
                        Tại các biển quảng cáo điện tử ở Quảng trường Thời Đại (New York, Mỹ), những hình ảnh về nông thôn Trung Quốc liên tục xuất hiện. Ở Phnom Penh - thủ đô Campuchia, 
                        trẻ em chơi đùa bên dưới những tòa chung cư do Trung Quốc xây dựng. Một số nơi trên thế giới, trẻ em còn học tiếng Trung trong các chương trình do Chính phủ Trung Quốc tài trợ.
                    </p>
                </div>
            </div>
        </div>
        <div style="margin-top:20px">
            <div class="row">
                <div class="col-lg-5">
                    <img src="/Public/image/oto-giuong-nam-lao-vao-nha-dan.jpg" alt="Alternate Text" width="400" />
                </div>
                <div class="col-lg-7">
                    <div class="">
                        <h2>Ôtô gây tai nạn liên hoàn tại Hà Nội</h2>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        <div style="margin-top:20px">
            <div class="row">
                <div class="col-lg-5">
                    <img src="/Public/image/news1.jpg" alt="Alternate Text" width="400" />
                </div>
                <div class="col-lg-7">
                    <div class="">
                        <h2>Mặt tối của show để cá heo bơi cùng du khách trên biển</h2>
                    </div>
                    <p>Những con cá heo bị nhốt trong lồng chật hẹp, máu loang lổ trên mặt nước mà không có bác sĩ thú y chăm sóc 
                    là những điều mà loài vật này phải chịu đựng để mua vui cho du khách.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section style{
    <style>
        .custom {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
}
