
@{
    ViewBag.Active = "liContact";
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="container custom">
    <div class="page-header">
        <h2>Thông tin liên hệ: </h2>
    </div>
    <div>
        <table id="info">
            <tr>
                <td width="30%"> MSSV : </td>
                <td> 08TX0236 </td>
            </tr>
            <tr>
                <td> Họ tên : </td>
                <td> Đỗ Văn Triều </td>
            </tr>
            <tr>
                <td> Điện thoại : </td>
                <td> 0938 717 344 - 0938 723 044 </td>
            </tr>
            <tr>
                <td> Email : </td>
                <td> trillyle@gmail.com - trillyle@yahoo.com </td>
            </tr>
        </table>
        
        
       
        
        
    </div>

</div>

@section style{
    <style>
        .custom {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        #info{
            font-size:23px;
        }
    </style>
}

